.app {
  max-width: 500px;
  margin: auto;
  font-family: Helvetica;
}
#header {
  color: black;
  text-align: center;
}
#list {
  background-color: #EDEDED;
  padding: 5px;
  text-align: center;
  border: 3px solid rgba(232, 12, 12,.25);
}
ul {
  list-style-type: none;
  padding: none;
  list-style-type: none;
  padding: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
form {
  margin: auto;
  text-align: center;
  padding: 10px;
}